%h2.h3.mb-3.font-weight-normal.title{:style => "text-align: center"} Alterar sua senha
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token
  .form-inputs
    = f.input :password,
      label: "New password",
      required: true,
      label: false,
      autofocus: true,
      hint: ("#{@minimum_password_length} caracteres mínimos" if @minimum_password_length),
      input_html: { autocomplete: "new-password" },
      placeholder: 'Nova senha'
    = f.input :password_confirmation,
      label: "Confirm new password",
      required: true,
      label: false,
      input_html: { autocomplete: "new-password" },
      placeholder: 'Confirme nova senha'
  .form-actions
    = f.button :submit, "Alterar minha senha", class: 'user_remember_me btn btn-success btn-block'
  
  %hr/
  = render "devise/shared/links"
